.write_container {
    background-color: red;
    width: 80%;
    align-items: center;
    margin: auto;
}

.adder {
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.line {
    background-color: antiquewhite;
    cursor: pointer;
}

.block_container {
    display: flex;
}

.block {
    display: flex;           /* flex로 가로 정렬 */
    flex-direction: row;     /* 기본 방향이므로 명시적으로 설정 */
    overflow: hidden;        /* 넘치는 부분은 잘리도록 설정 */
    margin: 0;
    height: 100px;
    width: 100%;            /* 가로 크기 지정 */
    background-color: lightblue;
    position: relative;
}


textarea {
    display: inline-block;
    white-space: pre-line;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: 0;
}

textarea:focus {
    border: 0;
}

.txtButton {
    margin-left: auto;
}

.menuButton {
    padding: 2px;
    margin-right: 7px;
    background-color: aqua;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.menu {
    display: flex;
}

.blockButton {
    display: inline-block;
    margin: 3px;
    background-color: aliceblue;
    width: 40px;
    text-align: center;
}

.buttonConatainer {
    position: absolute;
    top: 0;
    background-color: red;
}